.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: -2rem;
    gap: 5rem;
}

.text{
    font-size: 1.3rem;
    text-align: center;
}
.datum{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:center;
    font-size: 1.7rem;
    gap: 0.5rem;
    margin-top: -3.7rem;
}

.at{
   font-family: 'Whispering Signature-Personal use', sans-serif;
   font-size: 4.2rem;
   text-align: center;
   transform: rotate(-10deg);
   max-width: 100%;
   line-height: 1.2;
   margin: 0;
   margin-top: -3rem;

}

.dann{
    font-family: 'Times New Roman';
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 1px  
}
.dana{
font-family: 'Times New Roman';
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 1px 1rem;

}

.d{
    font-size: 4.2rem;
    font-family: 'Times New Roman';
}

@media (max-width: 360px){
    .text{
        font-size: 1rem;
    }
    .at{
        font-size: 3.5rem;
    }

    .datum{
        font-size: 1.3rem;
    }

    .d{
        font-size: 4rem;
    }
}

 @media (min-width: 500px){
     .datum{
        font-size: 2rem;
         margin-top: -3.9rem;
    }

    .d{
        font-size: 4.7rem;
    }
}

 @media (min-width: 610px){
     .datum{
        font-size: 2.5rem;
         margin-top: -3.9rem;
    }

    .d{
        font-size: 4.9rem;
    }

    .at{
        font-size: 4.8rem;
    }
}

@media(min-width: 720px){
     .at{
        font-size: 5rem;
        padding: 0 2rem;
    }
}