.image{
    width: 100%;
    height: auto;
    margin: 0px;
    margin-top: -2rem;
      display: block;
}
.container{
  margin: 0px;
  padding: 0;
  margin-top: -5.7rem;
}
 .wrapper{
    position: relative;
    width: fit-content;
 }

.timer {
    position: absolute;
    bottom: 90px;  
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    color: white;
    left: 50%;
    transform: translateX(-50%);
}

.timeBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separator {
    font-size: 2.5rem;
    font-weight: 300;
}

.number{
  font-size: 2.5rem;
 
}

.label{
  font-size: 0.8rem;
}

@media (max-width: 360px){
  .label{
    font-size: 0.6rem;
  }
  .number{
    font-size: 2rem;
  }
  .timer {
    bottom: 70px;  
  }
}

@media (min-width: 500px){
  .label{
    font-size: 1rem;
  }
  .number{
    font-size: 2.7rem;
  }
  .timer {
    bottom: 110px;  
  }
}

@media (min-width: 670px){
  .label{
    font-size: 1.3rem;
  }
  .number{
    font-size: 2.9rem;
  }
  .timer {
    bottom: 130px;  
  }
}
