.container{
 position: relative;

}

.slika{
    width: 100%;
    height: auto;
}

.content{
      
    position: absolute;
    top: 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.text{
      font-family: 'Whispering Signature-Personal use', sans-serif;
      font-size: 3rem;
}

.items{
    width: 100%;
}

@media(min-width: 320px){
  .text{
    font-size: 2.2rem;
  }
}

@media(min-width: 340px){
  .text{
    font-size: 2.4rem;
  }
}

@media(min-width: 370px){
    .text{
    font-size: 2.6rem;
  }
  .items{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}

@media(min-width: 410px){
    .text{
    font-size: 2.8rem;
  }
    .items{
    gap: 0.8rem;
  }
  .content{
    top: 7.3rem;
  }
}

@media(min-width: 500px){
    .text{
    font-size: 3rem;
  }
  
  .content{
    gap: 2.6rem;
    top: 8rem;
  }

     .items{
    gap: 1.5rem;
  }
}

@media(min-width: 550px){
    .content{
    gap: 3.5rem;
    top: 10rem;
  }

       .items{
    gap: 2rem;
  }
}

@media(min-width: 600px){
    .content{
    top: 13rem;
  }
}
